<ng-container>
  <button mat-button></button>
  <mat-action-list>
    <!-- <img src="" alt=""> -->
    Product Name
    <button mat-button>
      <mat-icon aria-hidden="false" aria-label="add icon">add</mat-icon>
    </button>
    <mat-form-field class="product-number" appearance="fill">
      <input matInput type="number" value="1" />
    </mat-form-field>
    <button mat-button>
      <mat-icon aria-hidden="false" aria-label="add icon">remove</mat-icon>
    </button>
  </mat-action-list>
</ng-container>
