<ng-container>
  <mat-action-list>
    {{ productInfo?.name | titlecase }} &nbsp;
    <app-increment-input
      [value]="cartItem?.amount"
      [step]="_step"
      [min]="_min"
      [max]="_max"
      [wrap]="_wrap"
      #info
    >
    </app-increment-input>
    &nbsp;
    <button
      *ngIf="onChangeAmount(info)"
      mat-button
      matTooltip="Update Amount"
      color="accent"
      (click)="onUpdate(info)"
    >
      <mat-icon>update</mat-icon>
    </button>
  </mat-action-list>
</ng-container>
