.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

mat-card {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.server-error {
  margin: 8px 0;
}

input {
  height: 2em;
  div.mat-form-field-infix {
    padding: 0.3em 0;
    input.mat-input-element {
      vertical-align: top;
    }
  }
}
div.mat-form-field-wrapper {
  padding-bottom: 1.15em;
}
