* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 30px;
}

mat-form-field {
  width: 100%;
}

.grid {
  display: grid;
  gap: 0;
  height: 100%;
  grid-template-columns: repeat(16, 1fr);
}

::ng-deep .mat-form-field-underline {
  display: none;
}
.topbar {
  width: 100%;
}
.search {
  width: auto !important;
}
