<!-- put this button in shell -->
<div class="topbar">
  <button
    type="button"
    mat-button
    (click)="drawer.toggle()"
    matTooltip="View Cart"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <mat-form-field class="search">
    <input
      matInput
      type="text"
      [(ngModel)]="searchText"
      placeholder="Search for a product"
    />
    <button
      *ngIf="value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="searchText = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <h1>Your Cart</h1>
    <app-order></app-order>
  </mat-drawer>

  <!-- 
  <p>
    {{ products | json }}
  </p> -->

  <mat-tab-group>
    <mat-tab *ngFor="let category of categories" [ngSwitch]="category.name">
      <ng-template mat-tab-label>
        <img [src]="category.image" />
        &nbsp;
        {{ category.name | titlecase }}
      </ng-template>
      <div class="grid example">
        <div
          class="cardholder"
          *ngFor="
            let product of searchText
              ? (products | filter: searchText)
              : (products | category: category.name | filter: searchText)
          "
        >
          <app-product-card [product]="product"></app-product-card>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-drawer-container>
