<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <h1>Your Cart.</h1>
    <app-order></app-order>
  </mat-drawer>
  <!-- 
  <p>
    {{ products | json }}
  </p> -->
  <button type="button" mat-button (click)="drawer.toggle()">
    Toggle sidenav
  </button>
  <mat-form-field class="example-form-field" appearance="fill">
    <input matInput type="text" [(ngModel)]="value" />
    <button
      *ngIf="value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="value = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-tab-group>
    <mat-tab
      *ngFor="let category of productCategories"
      [label]="category | titlecase"
      [ngSwitch]="category"
    >
      <div class="grid">
        <div
          class="cardholder"
          *ngFor="let product of products | category: category"
        >
          <app-product-card [product]="product"></app-product-card>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-drawer-container>

<!-- <ng-template>
  <mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let product of products"
      ><app-product-card [product]="product"></app-product-card
    ></mat-grid-tile>
  </mat-grid-list>
</ng-template> -->
