<div class="container">
  <div class="hero-img">
    <div class="hero-text white">
      <h1>Welcome</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem esse
        sint maxime natus incidunt? Sit molestias consequatur voluptatem aut
        est?
      </p>
      <a mat-raised-button routerLink="/login">Get Started!</a>
    </div>
  </div>
</div>
<mat-grid-list cols="3" rowHeight="60vh">
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card></mat-grid-tile
  >
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card></mat-grid-tile
  >
</mat-grid-list>
