<mat-dialog-content align="center">
  <h2 mat-dialog-title align="start">{{ data.row.name | titlecase }}</h2>
  <h2 mat-dialog-title align="start" *ngIf="!data.row.name">New Product</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" autocomplete="off" />
      <mat-error *ngIf="name.errors?.required">
        A product must have a name
      </mat-error>
      <mat-error *ngIf="name.errors?.pattern"> Not a valid name </mat-error>
    </mat-form-field>

    <!-- 

    <mat-form-field>
      <mat-label>Category</mat-label>
      <input matInput formControlName="category" autocomplete="off" />
      <mat-error *ngIf="category.errors?.pattern">
        A product must be in a category
      </mat-error>
    </mat-form-field> -->

    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category.name">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput formControlName="price" autocomplete="off" />
      <mat-error *ngIf="price.errors?.pattern"> Not a valid number </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Product Image</mat-label>
      <ngx-mat-file-input
        formControlName="image"
        placeholder="Select Image"
        valuePlaceholder="No image file selected"
      ></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>

    <mat-dialog-actions align="end">
      <button
        mat-raised-button
        color="accent"
        [disabled]="form.invalid"
        [mat-dialog-close]="form"
      >
        Submit
      </button></mat-dialog-actions
    >
  </form>
</mat-dialog-content>
